<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title_x }}</title>
</head>
<body>
<div id="content">
    <div class="border: 1px">
        <!--E:\openserver\domains\x.app.loc\app\view\default\template -->
        <a href="http://x.app.loc/app/view/default/template/blank_ru.html">{{ linkBlank_ru }}</a>
        <a href="http://x.app.loc/app/view/default/template/blank.html">{{ linkBlank_en }}</a>
        <a href="http://x.app.loc/app/view/default/blank.html">{{ linkBlank_en }}</a>
    </div>

</div>

</body>
</html>